
<% include ../partials/header %>

<div class="col-md-9">
	<div class="card"  id="rStat">
		
		  <div class="card-body" >
			<h3 class="card-title" id="rst">Stats</h3>
			<p class="card-text" id="rst">Total PASS&rarr; <%=Rstat['pass']%></p>
			<p class="card-text" id="rst">Total FAIL &rarr; <%=Rstat['fail']%></p>
			<p class="card-text" id="rst">In Progress &rarr; <%=Rstat['na']%></p>
			
		</div>
		
	</div>
</div>

<% include ../partials/footer %>
