<% include ../partials/header %>


<div class="row" id="resultRow" style="display:flex; flex-wrap: wrap;">
	<% detail.forEach((details)=>{ %>
		
	<div class="col-md-3 col-sm-12 mx-1"> 
		<div class="card mx-auto" style="margin-top: 15%;" id="cardui">
			
			<div class="card-body">
				<h5 class="card-title">STATUS &rarr; <%= details.status %></h5>
				<p class="card-text">ROUNF NO &rarr; <%= details.roundNo %></p>
				<p class="card-text">ROLE OFFERED &rarr;  <%= details.role %></p>
				<a class= "selection" href="/movies/<%=details.offerID%>" ><li class="list-group-item active" id="SRB"> More Info </li></a>
			</div>
			
			
		</div>
	</div>
	
	<%})%>
</div>

<% include ../partials/footer %>
